
.cephalo {

    img {
        position: absolute; 
        left: 10vw;
    }

    .canvas {
        margin-top: 10vh;
        position: absolute;
        left: 0;
        z-index: 1;

        .calc-head {
            background-color: #456;
            z-index: 99;
            position: fixed;
            top: 15%;
            right: 1%;
            width: 30vw;
            height: auto;
            border: 2px solid red;
            border-radius: 5px;
            padding: 10px 0;

            .buttons {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                ::selection { background: transparent; }
                ::-moz-selection { background: transparent; }

                    .unSelected {
                        margin: 5px;
                        color: black;
                        display: flex;
                        justify-content: center;
                        padding: 5px 0;
                        border-radius: 3px;
                        transition: .3s;
                        background-color: #fff;
                        width: 55px;
                        border: 1px solid;

                        &:hover {
                            background-color: fff;
                            cursor: copy;
                            border-color: orange;
                        }
                    }
                    .selected {
                        margin: 5px;
                        color: #999;
                        display: flex;
                        justify-content: center;
                        padding: 5px 0;
                        border-radius: 3px;
                        transition: .3s;
                        background-color: #ddd;
                        width: 55px;
                        border: 1px solid;

                        &:hover {
                            cursor: not-allowed;
                        }
                    }
                }
            
        }
    }
}