
.test {
    .cat1 {
        -webkit-tap-highlight-color: transparent;
        box-shadow: transparent 0px 0px 1px;
        cursor: grab;
        user-select: none;
    }
    .cat2 {
        -webkit-tap-highlight-color: transparent;
        box-shadow: transparent 0px 0px 1px; cursor: grab;
        user-select: none;
    }
    .cat3 {
        -webkit-tap-highlight-color: transparent;
        box-shadow: transparent 0px 0px 1px;
        cursor: grab;
        user-select: none;
    }
    .cat4 {
        -webkit-tap-highlight-color: transparent;
        box-shadow: transparent 0px 0px 1px;
        cursor: grab;
        user-select: none;
    }
}