
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    
    ul {
        background-color: #334;
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 20px;
        font-size: 22px;

        li a {
            color: #ddf;
            font-family: Oxygen, Ubuntu, Cantarell, sans-serif;
            transition: .5s;
            text-decoration: none;

            &:hover {
                cursor: pointer;
                color: #fff;
            }
        }
    }
}